<div class="modal fade" id="addUserInstitutionModalLong" tabindex="-1" role="dialog" aria-labelledby="addUserInstitutionModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title position-absolute">{{#str}}enrollUser, local_grupomakro_core {{/str}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body px-4">
                {{! Form to relate users }}
                <form>
                    {{! User List }}
                    <div class="form-group">
                        <label for="userlist" class="col-form-label w-100">{{#str}} userlist, local_grupomakro_core {{/str}}:</label>
                        <input list="userlist" name="userlist" id="selected-user" class="form-control" placeholder="{{#str}} selectusers, local_grupomakro_core {{/str}}" required>
                        <datalist id="userlist" class="form-control_">

                            {{#users}}
                            <option value="{{username}}">{{fullname}} - {{email}}</option>
                            {{/users}}
                        </datalist>
                    </div>
                    {{! End User List }}
                    
                    {{! Contract List }}
                    <div class="form-group">
                        <label for="contractlist" class="col-form-label">{{#str}} contracts, local_grupomakro_core {{/str}}:</label>
                        <select name="contraclist" id="contractlist" class="form-control" disabled required>
                            <option value=''>{{#str}} selectcontract, local_grupomakro_core {{/str}}</option>
                            {{#contracts}}
                            <option value="{{id}}">{{contractId}}</option>
                            {{/contracts}}
                        </select>
                    </div>
                    {{! End Contract List }}
                    
                    {{! Courses list }}
                    <div class="form-group">
                        <label for="courselist" class="col-form-label">{{#str}} courses, local_grupomakro_core {{/str}}:</label>
                        <select name="courselist" id="courselist" class="form-control" multiple size="6" required>
                            <option value='' disabled>{{#str}} select_courses, local_grupomakro_core {{/str}}</option>
                            {{#courses}}
                            <option value="{{id}}">{{fullname}}</option>
                            {{/courses}}
                        </select>
                    </div>
                    {{! End Courses list }}
                </form>
                {{! End Form to relate users }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{#str}} cancel, local_grupomakro_core {{/str}}</button>
                <button type="button" class="btn btn-primary" id="add-user-button">{{#str}} save, local_grupomakro_core {{/str}}</button>
            </div>
        </div>
    </div>
</div>