<div class="modal fade" id="createcontractModalLong" tabindex="-1" role="dialog" aria-labelledby="createcontractModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-3">
            <div class="modal-body text-center">
                <div class="position-relative success-content">
                    <i class="fa fa-check-square-o"></i>
                </div>
                <span>
                    {{#str}} msgcreatecontract, local_grupomakro_core {{/str}}
                </span>
                
                <div class="d-flex justify-content-center mt-3">
                    <a type="button" class="btn btn-primary" href="{{cancelurl}}">{{#str}} continue, local_grupomakro_core {{/str}}</a>
                </div>
            </div>
            
        </div>
    </div>
</div>