<div class="modal fade" id="deferringcontractModalLong" tabindex="-1" role="dialog" aria-labelledby="deferringcontractModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-3">
            <div class="modal-body text-center">
                <span>
                    {{#str}} msndeferring, local_grupomakro_core {{/str}}
                </span>
                
                <div class="d-flex justify-content-center mt-4">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">{{#str}} cancel, local_grupomakro_core {{/str}}</button>
                    <a type="button" class="btn btn-primary" href="{{cancelurl}}">{{#str}} accept, local_grupomakro_core {{/str}}</a>
                </div>
            </div>
            
        </div>
    </div>
</div>
