<div class="modal fade" id="userNotFoundModal" tabindex="-1" role="dialog" aria-labelledby="userNotFoundModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content"> 
            <div class="modal-header justify-content-center">
                <h5 class="modal-title">{{#str}}enrolUserNotFound, local_grupomakro_core {{/str}}</h5>
            </div>
            <div class="modal-body text-center">
                <p>{{#str}}enrolUserNotFoundModalMessage, local_grupomakro_core {{/str}}</p>
            </div>
            <div class="modal-footer">
                <button id="enrolTryAgainButton" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">{{#str}} enrolTryAgain, local_grupomakro_core {{/str}}</button>
                <button id="enrolCreateAccountButton" class="btn btn-primary btn-sm">{{#str}} enrolCreateAccount, local_grupomakro_core {{/str}}</button>
            </div>
        </div>
    </div>
</div>