<div class="modal fade" id="fixescontractModalLong" tabindex="-1" role="dialog" aria-labelledby="fixescontractModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-3">
            <div class="modal-body text-center">
                <span>
                    {{#str}} fixes_message, local_grupomakro_core {{/str}}
                </span>
                
                <div class="d-flex justify-content-center mt-3">
                    <a type="button" class="btn btn-primary" href="{{cancelurl}}">{{#str}} continue, local_grupomakro_core {{/str}}</a>
                </div>
            </div>
        </div>
    </div>
</div>