<div class="modal fade" id="rescheduleActivityModalCenter" tabindex="-1" role="dialog" aria-labelledby="RescheduleActivityModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content"> 
            <div class="modal-header justify-content-center">
                <h5 class="modal-title">{{#str}}confirm_reschedule_title, local_grupomakro_core {{/str}}</h5>
            </div>
            <div id="confirmationTextHolder" class="modal-body text-center">
                <p>Verificando disponibilidad...</p>
            </div>
            <div class="modal-footer">
                <button id="cancelRescheduleActivity" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">{{#str}} cancel, local_grupomakro_core {{/str}}</button>
                <button id="confirmRescheduleActivity" class="btn btn-primary btn-sm">{{#str}} accept, local_grupomakro_core {{/str}}</button>
            </div>
        </div>
    </div>
</div>