{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_grupomakro_core/create_contract

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * attributes Array of name / value pairs.

    Example context (json):
    {
        "attributes": [
            { "name": "src", "value": "https://example.com/imgs/logo.png" },
            { "name": "class", "value": "iconsmall" }
        ]
    }
}}
<section>
    <div class="container-fluid">
        {{! Main content }}
        <div class="main-content">
            {{! row }}
            <div class="row justify-content-center pt-0 p-2" id="wizardRow">
                <div class="col-md-12 text-center">
                    {{! Wizard }}
                    <div class="wizard-form py-2 my-2">
                        <ul id="progressBar" class="progressbar px-lg-5 px-0">
                            <li id="progressList-1" class="d-inline-block font-weight-bolder position-relative text-center progressbar-list active">{{#str}} step, local_grupomakro_core {{/str}}1</li>
                            <li id="progressList-2" class="d-none font-weight-bolder position-relative text-center progressbar-list list-hidden">{{#str}} step, local_grupomakro_core {{/str}}2</li>
                            <li id="progressList-3" class="d-none font-weight-bolder position-relative text-center progressbar-list list-hidden">{{#str}} step, local_grupomakro_core {{/str}}3</li>
                            <li id="progressList-4" class="d-inline-block font-weight-bolder position-relative text-center progressbar-list">{{#str}} step, local_grupomakro_core {{/str}}
                                <span class="sp-show">2</span> <span class="d-none sp-hidden">4</span>
                            </li>
                        </ul>
                    </div>
                    {{!End Wizard }}
                </div>
            </div>
            {{! End row }}
            
            {{! Step general terms of the contract }}
            <div class="row justify-content-center" id="cardSection">
                <div class="col-sm-10 col-md-12 col-lg-8 col-xl-8">
                    <div class="card p-3">
                        <h3 class="text-center">{{#str}}general_terms, local_grupomakro_core {{/str}}</h3>
                        <div class="row pb-5 mt-2">
                            {{! User list }}
                            <div class="col-sm-12 col-md-6 py-2">
                                <label class="w-100" for="listuser">{{#str}} title_add_users, local_grupomakro_core {{/str}}</label>
                                <select name="listusers" id="contrctusers" class="form-control">
                                    <option value=''>{{#str}} select_user, local_grupomakro_core {{/str}}</option>
                                    <option value="3">Ximena Rincón - ximena.rincon@soluttoconsulting.com</option>
                                    <option value="9">Luz López - luz.lopez@soluttoconsulting.com</option>
                                    <option value="26">Sergio Amariles - sergio.amariles@soluttoconsulting.com</option>
                                    <option value="27">Sergio Estudiante - sergioandresamariles@gmail.com</option>
                                    <option value="37">Yudy Perez - yudy.perez@soluttoconsulting.com</option>
                                    <option value="38">Student Yudy Perez Velez - yudyperezvelez@gmail.com</option>
                                    <option value="41">Student Demo - studentdemo@soluttoconsulting.com</option>
                                    <option value="43">Admin Prueba - deicy1726@gmail.com</option>
                                    <option value="44">usuariocuestionario usuariocuestionario - usuariocuestionario@mailinaitor.com</option>
                                    <option value="45">Luz Fanllany Lopez QA - luzfanllanyl@gmail.com</option>
                                    <option value="47">Meredith Gray - deicy.divvee@gmail.com</option>
                                    <option value="48">Nataly Hoyos - nataly.hoyos@soluttoconsulting.com</option>
                                    <option value="49">Camilo Velez - camivelez@mailinaitor.com</option>
                                </select>
                            </div>
                            {{! End User list }}
                            
                            {{! Learning plan list }}
                            <div class="col-sm-12 col-md-6 py-2">
                                <label class="w-100" for="carrer">{{#str}}manage_careers, local_grupomakro_core {{/str}}</label>
                                <select name="carrer" id="carrer" class="form-control">
                                    <option value=''>{{#str}}select_careers, local_grupomakro_core {{/str}}</option>
                                    <option value="SOLDADURA SUBACUÁTICA">SOLDADURA SUBACUÁTICA</option>
                                    <option value="TRIPULANTE DE VUELO COMERCIAL">TRIPULANTE DE VUELO COMERCIAL</option>
                                    <option value="ASISTENTE DE ING CIVIL">ASISTENTE DE ING CIVIL</option>
                                </select>
                            </div>
                            {{! End Learning plan list }}
                            
                            {{! Contract type selector }}
                            <div class="col-sm-12 col-md-6 py-2">
                                <label class="w-100" for="typepayment">{{#str}} payment_type, local_grupomakro_core {{/str}}</label>
                                <select name="typepayment" id="typepayment" class="form-control">
                                    <option value=''>{{#str}} select_payment_type, local_grupomakro_core {{/str}}</option>
                                    <option value="Contado">Contado</option>
                                    <option value="IFARHU">IFARHU</option>
                                    <option value="Crédito">Crédito</option>
                                </select>
                            </div>
                            {{! End Contract type selector }}  
                        </div>
                        <hr></hr>
                        
                        {{! Step actions }}
                        <div class="d-flex">
                            <a href="{{cancelurl}}" class="btn btn-outline-primary m-1">{{#str}} cancel, local_grupomakro_core {{/str}}</a>
                            <button type="button" class="btn btn-outline-primary next m-1">{{#str}} next, local_grupomakro_core {{/str}}</button>
                            <div class="spacer"></div>
                            <a href="{{cancelurl}}" class="btn btn-primary m-1">{{#str}} save, local_grupomakro_core {{/str}}</a>
                        </div>
                        {{! End Step actions }}
                    </div>
                </div>
            </div>
            {{! End Step general terms of the contract }}
            
            {{! Step credit terms }}
            <div class="row justify-content-center" style="display: none;">
                <div class="col-sm-10 col-md-12 col-lg-8 col-xl-8">
                    <div class="card p-3 ">
                        <h3 class="text-center">{{#str}} credit_terms, local_grupomakro_core {{/str}}</h3>
        
                        <div class="row pb-5 mt-2">
                            {{! Payment periodicity selector }}
                            <div class="col-sm-12 col-md-6 py-2">
                                <label class="w-100" for="periodicityPayments">{{#str}} periodicityPayments, local_grupomakro_core {{/str}}</label>
                                <select name="periodicityPayments" id="periodicityPayments" class="form-control">
                                    <option value=''>{{#str}} select_periodicity, local_grupomakro_core {{/str}}</option>
                                    <option value="semanal">Semanal</option>
                                    <option value="quincenal">Quincenal</option>
                                    <option value="mensual">Mensual</option>
                                </select>
                            </div>
                            {{! End Payment periodicity selector }}
                            
                            {{! Selector for payment installments }}
                            <div class="col-sm-12 col-md-6 py-2">
                                <label class="w-100" for="numberInstallments">{{#str}} number_quotas, local_grupomakro_core{{/str}}</label>
                                <select name="numberInstallments" id="numberInstallments" class="form-control">
                                    <option value=''>{{#str}} number_quotas, local_grupomakro_core {{/str}}</option>
                                    <option value="1">1 Cuotas</option>
                                    <option value="2">2 Cuotas</option>
                                    <option value="3">3 Cuotas</option>
                                    <option value="4">4 Cuotas</option>
                                    <option value="5">5 Cuotas</option>
                                    <option value="6">6 Cuotas</option>
                                    <option value="7">7 Cuotas</option>
                                    <option value="8">8 Cuotas</option>
                                    <option value="9">9 Cuotas</option>
                                    <option value="10">10 Cuotas</option>
                                    <option value="11">11 Cuotas</option>
                                    <option value="12">12 Cuotas</option>
                                </select>
                            </div>
                            {{! End Selector for payment installments }}
                            
                            {{! Payment date field }}
                            <div class="col-sm-12 col-md-6 py-2">
                                <label for="date">{{#str}} payment_date, local_grupomakro_core {{/str}}</label>
                                <input type="date" class="form-control" id="date" placeholder="{{#str}}select_date , local_grupomakro_core {{/str}}">
                            </div>
                            {{! End Payment date field }}
                            
                            {{! Need co-signer }}
                            <div class="col-sm-12 col-md-6 py-2">
                                <label class="w-100" for="cod">{{#str}} need_co-signer, local_grupomakro_core {{/str}}</label>
                                <input type="radio" id="notcod" name="co-signer" value="0">
                                <label for="notperiod">No</label>
                                <input type="radio" id="addcod" name="co-signer" value="1">
                                <label for="addperiod">Sí</label>
                            </div>
                            {{! End Need co-signer }}
                        </div>
                        
                        {{! Co-signer information section }}
                        <div id="cod-info" class="d-none">
                            <hr></hr>
                            <h5 class="text-center">{{#str}} cosigner_information, local_grupomakro_core {{/str}}</h5>
                            
                            <div class="row pb-1">
                                <div class="col-sm-12 col-md-6 py-2">
                                    <label for="name">{{#str}} name_co_signer, local_grupomakro_core {{/str}}</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                
                                <div class="col-sm-12 col-md-6 py-2">
                                    <label for="number">{{#str}} identification_number, local_grupomakro_core {{/str}}</label>
                                    <input type="text" class="form-control" id="number" >
                                </div>
                                
                                <div class="col-sm-12 col-md-6 py-2">
                                    <label for="phone">{{#str}} phone, local_grupomakro_core {{/str}}</label>
                                    <input type="text" class="form-control" id="phone">
                                </div>
                                
                                <div class="col-sm-12 col-md-6 py-2">
                                    <label for="workplace">{{#str}} workplace, local_grupomakro_core {{/str}}</label>
                                    <input type="text" class="form-control" id="workplace">
                                </div>
                            </div>
                        </div>
                        {{! End Co-signer information section }}
                        <hr></hr>
                        
                        {{! Step actions }}
                        <div class="d-flex">
                            <button type="button" class="btn back btn-outline-primary m-1">{{#str}} back, local_grupomakro_core {{/str}}</button>
                            <button type="button" class="btn btn-outline-primary next m-1">{{#str}} next, local_grupomakro_core {{/str}}</button>
                            <div class="spacer"></div>
                            <a href="{{cancelurl}}" class="btn btn-primary m-1">{{#str}} save, local_grupomakro_core {{/str}}</a>
                        </div>
                        {{! End Step actions }}
                    </div>
                </div>
            </div>
            {{! End Step credit terms }}
            
            {{! Step credit installment projections }}
            <div class="row justify-content-center" style="display: none;">
                <!-- col -->
                <div class="col-sm-10 col-md-12 col-lg-8 col-xl-8">
                    <div class="card p-3">
                        <h3 class="text-center">{{#str}} scheduled_installments, local_grupomakro_core {{/str}}</h3>
                        {{! Projection table of payment installments }}
                        <div class="table-responsive pb-5">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                      <th scope="col">No. cuota</th>
                                      <th scope="col">Valor de la cuota</th>
                                      <th scope="col">Intereses</th>
                                      <th scope="col">Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                      <th scope="row">01</th>
                                      <td>200.00</td>
                                      <td>0.00</td>
                                      <td>20/12/2022</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">02</th>
                                      <td>200.00</td>
                                      <td>0.00</td>
                                      <td>20/01/2023</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">03</th>
                                      <td>200.00</td>
                                      <td>0.00</td>
                                      <td>20/02/2023</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {{! End Projection table of payment installments }}
                        <hr></hr>
                        
                        {{! Step actions }}
                        <div class="d-flex">
                            <button type="button" class="btn back btn-outline-primary m-1">{{#str}} back, local_grupomakro_core {{/str}}</button>
                            <button type="button" class="btn btn-outline-primary next m-1">{{#str}} next, local_grupomakro_core {{/str}}</button>
                            <div class="spacer"></div>
                            <a href="{{cancelurl}}" class="btn btn-primary m-1">{{#str}} save, local_grupomakro_core {{/str}}</a>
                        </div>
                        {{! End Step actions }}
                    </div>
                </div>
            </div>
            {{! End Step credit installment projections }}
            
            {{! Step upload the documents }}
            <div id="lastrow" class="row justify-content-center py-5" style="display: none;">
                <div class="col-sm-10 col-md-12 col-lg-8 col-xl-8">
                    <div class="card p-3">
                        <h3 class="text-center">{{#str}} upload_documents, local_grupomakro_core {{/str}}</h3>
                        
                        <div class="row pb-5 mt-2">
                            {{! Identification document field }}
                            <div class="col-sm-12 col-xl-6 py-2">
                                <div class="form-group">
                                    <label for="identification_document">{{#str}} identification_document, local_grupomakro_core {{/str}}</label>
                                    <input type="file" class="form-control-file form-control p-0" id="identification_document">
                                </div>
                            </div>
                            {{! End Identification document field }}
                            
                            {{! Profile Picture Field }}
                            <div class="col-sm-12 col-xl-6 py-2">
                                <div class="form-group">
                                    <label for="photo_profile_picture">{{#str}} photo_profile_picture, local_grupomakro_core {{/str}}</label>
                                    <input type="file" class="form-control-file form-control p-0" id="photo_profile_picture">
                                </div>
                            </div>
                            {{! End Profile Picture Field }}
                            
                            {{! High school diploma field }}
                            <div class="col-sm-12 col-xl-6 py-2">
                                <div class="form-group">
                                    <label for="bachelordiploma">{{#str}} bachelor's_diploma, local_grupomakro_core {{/str}}</label>
                                    <input type="file" class="form-control-file form-control p-0" id="bachelordiploma">
                                </div>
                            </div>
                            {{! End High school diploma field }}
                            
                            {{! Personal Reference Letter Field }}
                            <div class="col-sm-12 col-xl-6 py-2">
                                <div class="form-group">
                                    <label for="personal_reference_letter">{{#str}} personal_reference_letter, local_grupomakro_core {{/str}}</label>
                                    <input type="file" class="form-control-file form-control p-0" id="personal_reference_letter">
                                </div>
                            </div>
                            {{! End Personal Reference Letter Field }}
                            
                            {{! Medical certificate field }}
                            <div class="col-sm-12 col-xl-6 py-2">
                                <div class="form-group">
                                    <label for="medical_certificate">{{#str}} medical_certificate, local_grupomakro_core {{/str}}</label>
                                    <input type="file" class="form-control-file form-control p-0" id="medical_certificate">
                                </div>
                            </div>
                            {{! End Medical certificate field }}
                            
                            {{! Diving Certificate Field }}
                            <div class="col-sm-12 col-xl-6 py-2">
                                <div class="form-group">
                                    <label for="diving_certificate">{{#str}} diving_certificate, local_grupomakro_core {{/str}}</label>
                                    <input type="file" class="form-control-file form-control p-0" id="diving_certificate">
                                </div>
                            </div>
                            {{! End Diving Certificate Field }}
                            
                            {{! Job Letter Field }}
                            <div class="col-sm-12 col-xl-6 py-2">
                                <div class="form-group">
                                    <label for="work_letter">{{#str}} work_letter, local_grupomakro_core {{/str}}</label>
                                    <input type="file" class="form-control-file form-control p-0" id="work_letter">
                                </div>
                            </div>
                        </div>
                        {{! End Job Letter Field }}
                        <hr></hr>
                        {{! Step actions }}
                        <div class="d-flex">
                            <div class="spacer"></div>
                            <button type="button" class="btn back btn-outline-primary m-1">{{#str}} back, local_grupomakro_core {{/str}}</button>
                            <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#createcontractModalLong">{{#str}} save, local_grupomakro_core {{/str}}</button>
                        </div>
                        {{! End Step actions }}
                    </div>
                </div>
            </div>
            {{! End Step upload the documents }}
        </div>
        {{! End Main content }}
    </div>
</section>

{{> local_grupomakro_core/modals/contractcreation_modal }}

{{#js}}
    
$(document).ready(function () {

    $('#typepayment').change(function(){
        var valueselect = $(this).val();
        if(valueselect == 'Crédito'){
            $('.sp-hidden').addClass("d-inline-block");
            $('.sp-show').addClass("d-none");
            $('.list-hidden').addClass("d-inline-block");
        }else{
            $('.list-hidden').removeClass("d-inline-block");
            $('.sp-hidden').removeClass("d-inline-block");
            $('.sp-show').removeClass("d-none");
        }
    });
    // next button.
    $(".next").on({
        click: function () {
            if($('#typepayment').val() == 'Crédito'){
                $("#progressBar").find(".active").next().addClass("active");
                $(this).parents(".row").fadeOut("slow", function () {
                    $(this).next(".row").fadeIn("slow");
                });
            }else{
                $("#progressBar").find("#progressList-4").addClass("active");
                $(this).parents(".row").fadeOut("slow", function () {
                    $('#lastrow').fadeIn("slow");
                });
            }
        }
    });
    
    $(".back").on({
        click: function () {
            if($('#typepayment').val() == 'Crédito'){
                $("#progressBar .active").last().removeClass("active");
                $(this).parents(".row").fadeOut("slow", function () {
                    $(this).prev(".row").fadeIn("slow");
                });
            }else{
                $("#progressBar").find("#progressList-4").removeClass("active");
                $(this).parents(".row").fadeOut("slow", function () {
                    $('#cardSection').fadeIn("slow");
                });
            }
        }
    });
    
    // Active card on click function.
    $(".card").on({
        click: function () {
            $(this).toggleClass("active-card");
            $(this).parent(".col").siblings().children(".card").removeClass("active-card");
        }
    });
    
    document.getElementById("notcod").checked = true;
    $('input[type=radio][name=co-signer]').change(function() {
        if(this.value == 1){
            $('div#cod-info').addClass('d-block');
        }else{
            $('div#cod-info').removeClass('d-block');
        }
    });
});
{{/js}}