{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_grupomakro_core/edit_contract

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * attributes Array of name / value pairs.

    Example context (json):
    {
        "attributes": [
            { "name": "src", "value": "https://example.com/imgs/logo.png" },
            { "name": "class", "value": "iconsmall" }
        ]
    }
}}
<div class="container">
    <div class="row">
        {{! Contract Action Panel }}
        <div class="col-sm-12 mb-2">
            <div class="d-flex align-items-center mt-3">
                <h5 class="text-secondary mb-0">{{#str}}cid,local_grupomakro_core{{/str}} - {{contract_id}}</h5>
                <div class="spacer"></div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    {{{actionbuttons}}}
                </div>
            </div>
        </div>
        {{! End Contract Action Panel }}
        
        {{! Contract data to modify }}
        <div class="col-sm-12">
            <div class="card py-3 px-4">
                <form>
                    <div class="row pb-5 mt-2">
                        {{! Contract number field }}
                        <div class="col-sm-12 col-md-6 form-group">     
                            <label class="w-100" for="contractnumber">{{#str}} contractnumber, local_grupomakro_core {{/str}}</label>
                            <input type="text" class="form-control" id="contractnumber" value="{{contract_id}}">
                        </div>    
                        {{! End Contract number field }}    
                            
                        {{! contract start date field }}
                        <div class="col-sm-12 col-md-6 form-group">
                            <label class="w-100" for="startdate">{{#str}}startdate, local_grupomakro_core {{/str}}</label>
                            <input type="date" class="form-control" id="startdate" value="2022-12-20">
                        </div>
                        {{! End contract start date field }}
                        
                        {{! contract end date field }}
                        <div class="col-sm-12 col-md-6 form-group">
                            <label class="w-100" for="enddate">{{#str}} enddate, local_grupomakro_core {{/str}}</label>
                            <input type="date" class="form-control" id="enddate" value="2023-06-20">
                        </div>
                        {{! End contract end date field }}
                        
                        {{! contract budget field }}
                        <div class="col-sm-12 col-md-6 form-group">
                            <label class="w-100" for="budget">{{#str}} budget, local_grupomakro_core {{/str}}</label>
                            <input type="text" class="form-control" id="budget" placeholder="$" value="100.000.000">
                        </div>
                        {{! End contract budget field }}
                        
                        {{! Contract billing condition field }}
                        <div class="col-sm-12 col-md-6 form-group">
                            <label class="w-100" for="billing_condition">{{#str}} billing_condition, local_grupomakro_core {{/str}}</label>
                            <input type="text" class="form-control" id="billing_condition" placeholder="%" value="30%">
                        </div>
                        {{! End Contract billing condition field }}
                    </div>    
                </form>
            </div>
            
            {{! Actions }}
            <div class="d-flex card-footer bg-transparent px-0">
                <div class="spacer"></div>
                <a href="{{cancelurl}}" class="btn btn-secondary m-1">{{#str}} cancel, local_grupomakro_core {{/str}}</a>
                <a href="{{cancelurl}}" class="btn btn-primary m-1">{{#str}} save, local_grupomakro_core {{/str}}</a>
            </div>
            {{! End Actions }}
        </div>
        {{! End Contract data to modify }}
    </div>
</div>
{{#js}}
//document.querySelector("input#startdate").value = "2022-12-20";
{{/js}}