{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_grupomakro_core/edit_contract

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * attributes Array of name / value pairs.

    Example context (json):
    {
        "attributes": [
            { "name": "src", "value": "https://example.com/imgs/logo.png" },
            { "name": "class", "value": "iconsmall" }
        ]
    }
}}
<div class="container">
    <div class="row">
        {{! Contract Action Panel }}
        <div class="col-sm-12 mb-2">
            <div class="d-flex align-items-center mt-3">
                <h5 class="text-secondary mb-0">Contrato - 2022A23658</h5>
                <div class="spacer"></div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    {{{actionbuttons}}}
                </div>
            </div>
        </div>
        {{! End Contract Action Panel }}
        
        {{! Contract data to modify }}
        <div class="col-sm-12">
            <div class="card py-3 px-4">
                {{! General terms of the contract }}
                <h5>{{#str}}general_terms, local_grupomakro_core {{/str}}</h5>
                <div class="row pb-3 mt-2">
                    <div class="col-sm-12 col-md-6 py-2">
                        <label class="w-100" for="listuser">{{#str}} user, local_grupomakro_core {{/str}}</label>
                        <input type="text" class="form-control" value="{{username}}" disabled>
                    </div>
                    
                    <div class="col-sm-12 col-md-6 py-2">
                        <label class="w-100" for="carrer">{{#str}}manage_careers, local_grupomakro_core {{/str}}</label>
                        <select name="carrer" id="carrer" class="form-control" {{#is_contractactive}}disabled {{/is_contractactive}}>
                            <option value=''>{{#str}}select_careers, local_grupomakro_core {{/str}}</option>
                            <option value='{{learningname}}' selected>{{learningname}}</option>
                            <option value="TRIPULANTE DE VUELO COMERCIAL">TRIPULANTE DE VUELO COMERCIAL</option>
                            <option value="ASISTENTE DE ING CIVIL">ASISTENTE DE ING CIVIL</option>
                        </select>
                    </div>
                    
                    <div class="col-sm-12 col-md-6 py-2">
                        <label class="w-100" for="typepayment">{{#str}} payment_type, local_grupomakro_core {{/str}}</label>
                        <select name="typepayment" id="typepayment" class="form-control" {{#is_contractactive}}disabled {{/is_contractactive}}>
                            <option value=''>{{#str}} select_payment_type, local_grupomakro_core {{/str}}</option>
                            <option value="{{typepayment}}" selected>{{typepayment}}</option>
                            <option value="Contado">Contado</option>
                            <option value="IFARHU">IFARHU</option>
                        </select>
                    </div>
                </div>
                {{! End General terms of the contract }}
                <hr></hr>
                
                {{! Credit terms }}
                {{#is_credit}}
                <div class="row pb-3 mt-2">
                    <div class="col-sm-12">
                        <h5>{{#str}} credit_terms, local_grupomakro_core {{/str}}</h5>
                    </div>
                    <div class="col-sm-12 col-md-6 py-2">
                        <label class="w-100" for="periodicityPayments">{{#str}} periodicityPayments, local_grupomakro_core {{/str}}</label>
                        <select name="periodicityPayments" id="periodicityPayments" class="form-control" {{#is_contractactive}}disabled {{/is_contractactive}}>
                            <option value=''>{{#str}} select_periodicity, local_grupomakro_core {{/str}}</option>
                            <option value="{{periodicity_payments}}" selected>{{periodicity_payments}}</option>
                            <option value="semanal">Semanal</option>
                            <option value="quincenal">Quincenal</option>
                        </select>
                    </div>
                    
                    <div class="col-sm-12 col-md-6 py-2">
                        <label class="w-100" for="numberInstallments">{{#str}} number_quotas, local_grupomakro_core {{/str}}</label>
                        <select name="numberInstallments" id="numberInstallments" class="form-control" {{#is_contractactive}}disabled {{/is_contractactive}}>
                            <option value=''>{{#str}} number_quotas, local_grupomakro_core {{/str}}</option>
                            <option value="1">1 Cuotas</option>
                            <option value="2">2 Cuotas</option>
                            <option value="{{number_installments}}" selected>{{number_installments}}</option>
                            <option value="4">4 Cuotas</option>
                            <option value="5">5 Cuotas</option>
                            <option value="6">6 Cuotas</option>
                            <option value="7">7 Cuotas</option>
                            <option value="8">8 Cuotas</option>
                            <option value="9">9 Cuotas</option>
                            <option value="10">10 Cuotas</option>
                            <option value="11">11 Cuotas</option>
                            <option value="12">12 Cuotas</option>
                        </select>
                    </div>
                    
                    <div class="col-sm-12 col-md-6 py-2">
                        <label for="date">{{#str}} payment_date, local_grupomakro_core {{/str}}</label>
                        <input type="text" class="form-control" id="date" placeholder="Selecciona una fecha" value="{{payment_date}}" {{#is_contractactive}}disabled {{/is_contractactive}}>
                    </div>
                    
                    <div class="col-sm-12 col-md-6 py-2">
                        <label class="w-100 mb-3" for="cod">{{#str}} need_co-signer, local_grupomakro_core {{/str}}</label>
                        <input type="radio" id="notcod" name="co-signer" {{^need_co_signer}} checked {{/need_co_signer}} {{#is_contractactive}}disabled {{/is_contractactive}}>
                        <label for="notperiod">No</label>
                        <input type="radio" id="addcod" name="co-signer" {{#need_co_signer}} checked {{/need_co_signer}} {{#is_contractactive}}disabled {{/is_contractactive}}>
                        <label for="addperiod">Sí</label>
                    </div>
                </div>
                {{! End Credit terms }}
                <hr></hr>
                {{/is_credit}}
                
                {{! Información del Codeudor }}
                {{#need_co_signer}}
                <div class="row pb-3 mt-2">
                    <div class="col-sm-12">
                        <h5>{{#str}} cosigner_information, local_grupomakro_core {{/str}}</h5>
                    </div>
                    <div class="col-sm-12 col-md-6 py-2">
                        <label for="name">{{#str}} name_co_signer, local_grupomakro_core {{/str}}</label>
                        <input type="text" class="form-control" id="name" value="{{namecosigner}}" {{#is_contractactive}}disabled {{/is_contractactive}}>
                    </div>
                    
                    <div class="col-sm-12 col-md-6 py-2">
                        <label for="number">{{#str}} identification_number, local_grupomakro_core {{/str}}</label>
                        <input type="text" class="form-control" id="number" value="{{identification_number}}" {{#is_contractactive}}disabled {{/is_contractactive}}>
                    </div>
                    
                    <div class="col-sm-12 col-md-6 py-2">
                        <label for="phone">{{#str}} phone, local_grupomakro_core {{/str}}</label>
                        <input type="text" class="form-control" id="phone" value="{{phone}}" {{#is_contractactive}}disabled {{/is_contractactive}}>
                    </div>
                    
                    <div class="col-sm-12 col-md-6 py-2">
                        <label for="workplace">{{#str}} workplace, local_grupomakro_core {{/str}}</label>
                        <input type="text" class="form-control" id="workplace" value="{{workplace}}" {{#is_contractactive}}disabled {{/is_contractactive}}>
                    </div>
                </div>
                <hr></hr>
                {{/need_co_signer}}
                {{! End Información del Codeudor }}
                
                {{! Documents section }}
                <div class="row pb-3 mt-2">
                    <div class="col-sm-12">
                        <h5>{{#str}}documents, local_grupomakro_core {{/str}}</h5>
                    </div>
                    <div class="col-sm-12 d-flex flex-wrap">
                        {{#test}}
                        <a class="m-3" style="text-decoration: none;">
                            <div class="mx-auto card card-document border-0 rounded-sm" style="height: 160px; max-width: 180px; width: 180px;">
                                <div class="img-document">
                                    <div class="d-flex justify-content-center" id="imdocument">
                                        {{#pix}} t/img-document, local_grupomakro_core {{/pix}}
                                    </div>
                                </div> 
                                <div class="info-document p-2 position-relative">
                                    <div class="d-flex align-center">
                                        <span class="text-secondary font-weight-normal">{{documentname}}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {{/test}}
                    </div>
                </div>
                {{! Documents section }}
            </div>
            
            <div class="d-flex mt-3">
                <div class="spacer"></div>
                <a href="{{cancelurl}}" class="btn btn-outline-primary m-1">{{#str}} back, local_grupomakro_core {{/str}}</a>
                <!--<button type="button" class="btn btn-primary next m-1">{{#str}} save, local_grupomakro_core {{/str}}</button>-->
                {{#is_contractverify}}
                <button type="button" class="btn btn-danger btn-textlight m-1" data-toggle="modal" data-target='#correctioncontractModalLong'>{{#str}} correct, local_grupomakro_core {{/str}}</button>
                <button type="button" class="btn btn-primary m-1">{{#str}} approve, local_grupomakro_core {{/str}}</button>
                {{/is_contractverify}}
                
                {{#is_digitalsignature}}
                <button type="button" class="btn btn-primary m-1">{{#str}} approve, local_grupomakro_core {{/str}}</button>
                {{/is_digitalsignature}}
            </div>
        </div>
        {{! End Contract data to modify }}
    </div>
</div>
{{> local_grupomakro_core/modals/deferring_modal }}
{{> local_grupomakro_core/modals/reasign_modal }}
{{> local_grupomakro_core/modals/cancelcontract_modal }}
{{> local_grupomakro_core/modals/correction_modal }}
