{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_grupomakro_core/edit_contract

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * attributes Array of name / value pairs.

    Example context (json):
    {
        "attributes": [
            { "name": "src", "value": "https://example.com/imgs/logo.png" },
            { "name": "class", "value": "iconsmall" }
        ]
    }
}}
<div class="container-fluid">
    <div class="row">
        {{! Contract Action Panel }}
        <div class="col-sm-12 mb-2 px-md-0">
            <div class="d-flex align-items-center mt-3">
            </div>
        </div>
        {{! End Contract Action Panel }}
        
        {{! Contract data to modify }}
        <div class="col-sm-12 px-md-0">
            <div class="card py-3 px-4">
                
                <div id="fields-groups" class="row pb-5 mt-2 mx-0">
                        
                        {{#reschedulingActivity}}
                        
                        <div class="col-12">
                             <h5 class="text-secondary mb-0">{{#str}}rescheduling_activity, local_grupomakro_core {{/str}} {{className}} ({{activityInitDate}} {{activityInitTime}}-{{activityEndTime}})</h5>
                            <hr> </hr>
                        </div>
                        
                        {{! Field for reschedule date }}
                        <div id="newDate-fieldset" class="col-sm-12 col-md-6 form-group py-2">
                            <label class="w-100" for="newDate">{{#str}}new_date, local_grupomakro_core {{/str}}</label>
                            <input type="date" class="form-control" id="newDate" value="{{activityProposedDate}}" required>
                        </div>
                        {{! Field for reschedule date }}
                        
                        {{! Field for start time }}
                        <div id="newStartTime-fieldset" class="col-sm-12 col-md-6 form-group py-2">
                            <label class="w-100" for="newStartTime">{{#str}}start_time, local_grupomakro_core {{/str}}</label>
                            <input type="time" class="form-control" id="newStartTime" value="{{activityProposedInitTime}}" required>
                        </div>
                        {{! Field for start time }}
                        
                        {{! Field for End time }}
                        <div id="newEndTime-fieldset" class="col-sm-12 col-md-6 form-group py-2">
                            <label class="w-100" for="newEndTime">{{#str}}end_time, local_grupomakro_core {{/str}}</label>
                            <input type="time" class="form-control" id="newEndTime" value="{{activityProposedEndTime}}" required>
                        </div>
                        {{! Field for End time }}
                        {{/reschedulingActivity}}
                        
                        {{^reschedulingActivity}}
                        <div class="col-12">
                             <h5 class="text-secondary mb-0">{{className}}</h5>
                            <hr> </hr>
                        </div>
                        
                        {{! Class name field }}
                        <div id="classname-fieldset" class="col-sm-12 col-md-6 py-2">
                            <label class="w-100" for="classname">{{#str}}class_name, local_grupomakro_core {{/str}}</label>
                            <input type="text" class="form-control" id="classname" value="{{className}}" required>
                        </div>
                        {{! Class name field }}
                        
                        {{! Field to select class_type }}
                        <div id="classtype-fieldset" class="col-sm-12 col-md-6 py-2">
                            <label class="w-100" for="class_type">{{#str}}class_type, local_grupomakro_core {{/str}}</label>
                            <select name="class_type" id="class_type" class="form-control" required>
                                <option value=''>{{#str}}select_type_class, local_grupomakro_core {{/str}}</option>
                                {{#classTypes}}
                                <option {{selected}} value="{{value}}">{{label}}</option>
                                {{/classTypes}}
                            </select>
                        </div>
                        {{! End Field to select class_type }}
                        
                        {{! Field to select learning plans }}
                        <div id="learning-fieldset" class="col-sm-12 col-md-6 py-2">
                            <label class="w-100" for="career">{{#str}}manage_careers, local_grupomakro_core {{/str}}</label>
                            <select name="career" id="career" class="form-control" required>
                                <option value=''>{{#str}}select_careers, local_grupomakro_core {{/str}}</option>
                                {{#availableCareers}}
                                <option  {{selected}} value="{{value}}">{{label}}</option>
                                {{/availableCareers}}
                            </select>
                        </div>
                        {{! End Field to select learning plans }}
                        
                        {{! Field to select the period }}
                        <div id="period-fieldset" class="col-sm-12 col-md-6 py-2">
                            <label class="w-100" for="period">{{#str}}period, local_grupomakro_core {{/str}}</label>
                            <select name="period" id="period" class="form-control" required>
                                <option value=''>{{#str}}select_period, local_grupomakro_core {{/str}}</option>
                                {{#periods}}
                                <option class="periodValue" {{selected}} value="{{value}}">{{label}}</option>
                                {{/periods}}
                            </select>
                        </div>
                        {{! End Field to select the period }}
                        
                        {{! Field to select courses }}
                        <div id="courses-fieldset" class="col-sm-12 col-md-6 form-group py-2">
                            <label class="w-100" for="courses">{{#str}}courses, local_grupomakro_core {{/str}}</label>
                            <select name="courses" id="courses" class="form-control" required>
                                <option value=''>{{#str}}select_courses, local_grupomakro_core {{/str}}</option>
                                 {{#courses}}
                                <option class="courseValue" {{selected}} value="{{value}}">{{label}}</option>
                                {{/courses}}
                            </select>
                        </div>
                        {{! End Field to select courses }}
                        
                        {{! Field for start time }}
                        <div id="starttime-fieldset" class="col-sm-12 col-md-6 form-group py-2">
                            <label class="w-100" for="starttime">{{#str}}start_time, local_grupomakro_core {{/str}}</label>
                            <input type="time" class="form-control" id="starttime" value="{{initTime}}" required>
                        </div>
                        {{! Field for start time }}
                        
                        {{! Field for End time }}
                        <div id="endtime-fieldset" class="col-sm-12 col-md-6 form-group py-2">
                            <label class="w-100" for="endtime">{{#str}}end_time, local_grupomakro_core {{/str}}</label>
                            <input type="time" class="form-control" id="endtime" value="{{endTime}}" required>
                        </div>
                        {{! Field for End time }}
                        
                        {{! Section to choose class days }}
                        <div id="starttime-fieldset" class="row form-group py-2 mx-0 px-2">
                            <div class="col-12">
                                <label>{{#str}} classdays, local_grupomakro_core{{/str}}</label>
                            </div>
                        
                            <div class="custom-control custom-switch col-6 col-sm-4 my-2 ml-4">
                                <input type="checkbox" class="custom-control-input" id="customSwitchMonday" {{mondayValue}}>
                                <label class="custom-control-label" for="customSwitchMonday">{{#str}} monday, local_grupomakro_core {{/str}}</label>
                            </div>
                            <div class="custom-control custom-switch col-6 col-sm-4 my-2 ml-4">
                                <input type="checkbox" class="custom-control-input" id="customSwitchTuesday" {{tuesdayValue}}>
                                <label class="custom-control-label" for="customSwitchTuesday">{{#str}} tuesday, local_grupomakro_core {{/str}}</label>
                            </div>
                            <div class="custom-control custom-switch col-6 col-sm-4 my-2 ml-4">
                                <input type="checkbox" class="custom-control-input" id="customSwitchWednesday" {{wednesdayValue}}>
                                <label class="custom-control-label" for="customSwitchWednesday">{{#str}} wednesday, local_grupomakro_core {{/str}}</label>
                            </div>
                            <div class="custom-control custom-switch col-6 col-sm-4 my-2 ml-4">
                                <input type="checkbox" class="custom-control-input" id="customSwitchThursday" {{thursdayValue}}>
                                <label class="custom-control-label" for="customSwitchThursday">{{#str}} thursday, local_grupomakro_core {{/str}}</label>
                            </div>
                            <div class="custom-control custom-switch col-6 col-sm-4 my-2 ml-4">
                                <input type="checkbox" class="custom-control-input" id="customSwitchFriday" {{fridayValue}}>
                                <label class="custom-control-label" for="customSwitchFriday">{{#str}} friday, local_grupomakro_core {{/str}}</label>
                            </div>
                            <div class="custom-control custom-switch col-6 col-sm-4 my-2 ml-4">
                                <input type="checkbox" class="custom-control-input" id="customSwitchSaturday" {{saturdayValue}}>
                                <label class="custom-control-label" for="customSwitchSaturday">{{#str}} saturday, local_grupomakro_core {{/str}}</label>
                            </div>
                            <div class="custom-control custom-switch col-6 col-sm-4 my-2 ml-4">
                                <input type="checkbox" class="custom-control-input" id="customSwitchSunday" {{sundayValue}}>
                                <label class="custom-control-label" for="customSwitchSunday">{{#str}} sunday, local_grupomakro_core {{/str}}</label>
                            </div>
                        </div>
                        
                        {{! Field to select the Instructors }}
                        <div id="instructor-fieldset" class="col-sm-12 col-md-6 form-group py-2">
                            <label class="w-100" for="instructor">{{#str}}instructor, local_grupomakro_core {{/str}}</label>
                            <select name="instructor" id="instructor" class="form-control" required>
                                <option value=''>{{#str}}select_instructor, local_grupomakro_core {{/str}}</option>
                                 {{#teachers}}
                                <option class="teacherValue" {{selected}} value="{{value}}">{{label}}</option>
                                {{/teachers}}
                            </select>
                        </div>
                        {{! End Field to select the Instructors }}
                        
                        {{! End Section to choose class days }}
                        {{/reschedulingActivity}}
                        
                        
                        <div class="py-2 mx-0 px-2 w-100"><a href="{{availabilityPanelUrl}}" target="blank">{{#str}} check_availability, local_grupomakro_core {{/str}}</a></div>
                    </div>  
                
                {{! Actions }}
                {{#reschedulingActivity}}
                <div class="d-flex card-footer bg-transparent px-0">
                    <div class="spacer"></div>
                    <a href="{{rescheduleCancelUrl}}" class="btn btn-secondary m-1">{{#str}} cancel, local_grupomakro_core {{/str}}</a>
                    <a id="rescheduleActivityButton" data-target='#rescheduleActivityModalCenter' data-toggle='modal' class="btn btn-primary m-1">{{#str}} reschedule, local_grupomakro_core {{/str}}</a>
                </div>
                {{/reschedulingActivity}}
                {{^reschedulingActivity}}
                <div class="d-flex card-footer bg-transparent px-0">
                    <div class="spacer"></div>
                    <a href="{{cancelurl}}" class="btn btn-secondary m-1">{{#str}} cancel, local_grupomakro_core {{/str}}</a>
                    <a id="saveClassButton" class="btn btn-primary m-1">{{#str}} save, local_grupomakro_core {{/str}}</a>
                </div>
                {{/reschedulingActivity}}
                {{! End Actions }}
                
            </div>
        </div>
        {{! End Contract data to modify }}
    </div>
</div>

{{> local_grupomakro_core/modals/class_error }}
{{> local_grupomakro_core/modals/reschedule_activity }}